.footer {
    position: fixed; /* Đặt header với vị trí cố định */
    bottom: 0; /* Đặt vị trí header ở đỉnh trang */
    left: 0; /* Đặt vị trí header bắt đầu từ bên trái của trang */
    right: 0; /* Đặt vị trí header kết thúc ở bên phải của trang */
    background-color: #f0f0f0; /* Màu nền của footer */
    color: #007bff;
    font-weight: 500;
    margin-top: auto; /* Kéo footer xuống dưới cùng của trang */
}
